*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

.main-container{
    display: grid;
    grid-template-columns: 200px 1fr;
     grid-template-rows: 80px 1fr 60px;
     grid-template-areas:
 "header header"
 "sidebar main"
 "footer footer";
   height: 100vh;
}

.header{
    grid-area: header;
    background-color: aqua;
    padding: 20px;
    color: white;
}

.sidebar{
    grid-area: sidebar;
    background-color: rgb(22, 34, 34);
    padding: 20px;
    color: white;

display:grid;
 justify-content:center;
 align-items:center;
}

.main{
    grid-area:main;
        background-color: #e5e5e5;
    padding: 20px;
    display:grid;
 justify-content:center;
 align-items:center;
}

.footer{
    grid-area:footer;
    background-color: #2f4f7f;
    color: white;
    padding: 20px;
}
h1{
    text-align: center;
}
