*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container{
    width: 100%;
    background-color: rgb(35, 26, 197);
    padding: 15px 20px;
}

h1{
    display: inline-block;   /* makes logo not full width */
    color: white;
}

ul{
    display: inline-block;   /* sits beside logo */
    width: 80%;              /* take remaining space */
    text-align: right;       /* push li to right */
    list-style: none;
}

ul li{
    display: inline-block;   /* horizontal */
    margin-left: 20px;
    color: white;
}